<%= stylesheet_link_tag "loginpage" %>
<div class="signuppage">
    <div class='logo-image' > 
        <%= image_tag "logo.svg" %>
    </div>

    <div class='signup-box'>
        <div class='signup-letter'>
            <h4 class='m-0 mt-2'>Create a account</h4>            
        </div>
        <p class="signup-letter1"> it's easy and quick</p>
        <div class = "signup-form">
            <%= form_with(model: @user, url: signup_path , remote: true) do |form| %>
                <div class="row">
                     <div>
                       <%= form.text_field :name, placeholder: "Firstname", autoComplete: :off %>
                     </div>
                     <div class="error-message">
                       <% @user.errors.full_messages_for(:name).each do |message| %>
                        <span class="w-auto"><%= message %></span>
                        <% end %>
                     </div>
                </div>

                <div class="row mt-2">
                      <div>
                       <%= form.text_field  :email, placeholder: "Email address" ,autoComplete: :off %>
                      </div>

                      <div class="error-message">
                        <% @user.errors.full_messages_for(:email).each do |message| %>
                          <span class="w-auto text-center"><%= message %></span>                  
                        <% end %>
                      </div>
                </div>

                <div class="row mt-2">
                  <div>
                    <%= form.text_field  :password,placeholder: "new password " , type: :password %><br>
                  </div>
                  <div class="error-message">
                    <% @user.errors.full_messages_for(:password).each do |message| %>
                      <span class="w-auto"><%= message %></span>
                    <% end %>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="row1">                     
                      <%= form.select :date ,options_for_select([["Date",""] ,[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23],[24,24],[25,25],[26,26],[27,27],[28,28],[29,29],[30,30],[31,31]]) %><br>
                      <%= form.select :month ,options_for_select([["month",""] ,["Jan","January"],["Feb","February"],["Mar","March"],["Apr","April,"],["May","May"],["Jun","June"],["Jul","July"],["Aug","August"],["Sep","September"],["Oct","October"],["Nov","November"],["Dec","December"]]) %><br>
                      <%= form.text_field  :year, placeholder: "year",  size: 3 , :id => "user_year" %>
                  </div>
                </div>
                <div class= "radio-form ">
                  <%= form.radio_button :gender, 'male' %> 
                  <%= form.label :gender, 'Male', :value => 'male' %>
                  <%= form.radio_button :gender, 'female' %>
                  <%= form.label :gender, 'Female', :value => 'female' %>
                  <%= form.radio_button :gender, 'others' %>
                  <%= form.label :gender, 'Others', :value => 'others' %>
                </div>
                <div>
                  <button type="submit" class="btn btn-success mt-3">Sign Up</button>
                </div>
                                
            <% end %>
            
          </div>
          <div class="redirect_path m-2">
              <a href="/signin" >Already a user</a>
            </div>

    </div>
</div>