<%= stylesheet_link_tag "loginpage" %>
<div>
    <div class='logo-image' > 
        <%= image_tag "logo.svg" %>
    </div>

    <div class='signin-box'>
        <div class='signin-letter'>
            <h5>login to your account</h5>
        </div>
        <div class = "signup-form">
        <%= form_with(model: @user, url: signin_path, method: :post , remote: true) do |form| %>
            <div class="row m-2">
                <%= form.text_field :email, placeholder: "Email address"%>
            </div>
            <div class="row m-2">
                <%= form.text_field :password, placeholder: "password"%>
            </div>
            <div class="row m-2">
                <%= form.submit "Sign in" %>
            </div>
        </div>

        <% end %>
        <div class="redirect_path">
            <a href="/signup" > sign up for facebook</a>
        </div>
    </div>
</div>